.contact-form__container {
  display: flex;
  flex-direction: column;
}

.contact-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
}

.contact-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  margin-bottom: 25px;
  position: relative;
  background: white;
}

.contact-form__label--phone {
  text-align: left;
  margin-left: 20px;
  background: url("../img/icon-phone.svg") no-repeat;
}

.contact-form__input.contact-form__input--phone {
  padding-right: 65px;
}

.contact-form__input.contact-form__input--email {
  padding-right: 65px;
}

.contact-form__icon-email,
.contact-form__icon-phone {
  position: relative;
}

.contact-form__icon-email::before,
.contact-form__icon-phone::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 64px;
  background-color: #e6e6e6;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.contact-form__icon-email::after,
.contact-form__icon-phone::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 17px;
  bottom: 23px;
  z-index: 1;
  background-repeat: no-repeat;
}

.contact-form__icon-email::after {
  background-image: url("../img/icon-mail.svg");
}

.contact-form__icon-phone::after {
  background-image: url("../img/icon-phone.svg");
}

.contact-form__label {
  font-size: 14px;
  line-height: 26px;
  margin-right: 10px;
  color: #333333;
}

.contat-form__item {
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}

.contact-form__group {
  display: flex;
  align-items: center;
}

.contact-form__group--phone {
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.contact-form__phone .contact-form__label {
  text-align: left;
  margin-left: 20px;
}

.contact-form__group:not(:last-child) {
  margin-bottom: 20px;
}

.contact-form__input {
  flex-grow: 1;
  border: 0;
  padding: 19px 28px 19px 22px;
  background-color: #f2f2f2;
  outline: none;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  position: relative;
}

.contact-form__input::placeholder {
  color: #000000;
}

.contact-form__input:hover {
  background-color: #e5e5e5;
}

.contact-form__input:active,
.contact-form__input:focus {
  background-color: #ffffff;
  box-shadow: inset 2px 2px 0 #e5e5e5, inset -2px -2px 0 #e5e5e5;
}

.contact-form__label--radio {
  font-size: 18px;
  line-height: 26px;
  text-transform: initial;
  font-weight: 700;
  padding: 19px 0 19px 75px;
  position: relative;
  text-align: left;
  cursor: pointer;
}

.contact-form__label--radio::before {
  content: "";
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  position: absolute;
  border-radius: 50%;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-form__label--radio:hover::before {
  background-color: #e5e5e5;
}

.contact-form__label--radio:active::before {
  background-color: #d5d5d5;
}

.contact-form__radio:checked + .contact-form__label--radio::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #000000;
  position: absolute;
  border-radius: 50%;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-form__radio:checked + .contact-form__label--radio:active::after {
  background-color: #a4a4a4;
}

.contact-form__radio:focus + .contact-form__label--radio::before {
  background-color: #d5d5d5;
}

.contact-form__label--radio:not(:last-child) {
  margin-bottom: 20px;
}

.contact-form__sightseeing-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-form__label--checkbox {
  font-size: 18px;
  line-height: 26px;
  text-transform: initial;
  font-weight: 700;
  padding: 19px 0 19px 75px;
  position: relative;
  text-align: left;
  cursor: pointer;
}

.contact-form__label--checkbox::before {
  content: "";
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  position: absolute;
  border-radius: 5px;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-form__label--checkbox:hover::before {
  background-color: #e5e5e5;
}

.contact-form__checkbox:checked + .contact-form__label--checkbox:active::after {
  opacity: 0.3;
}

.contact-form__checkbox:checked + .contact-form__label--checkbox::after {
  content: "";
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  position: absolute;
  border-radius: 5px;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contat-form__text-review {
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  position: relative;
}

.contat-form__text-review-title {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
}

.contat-form__text-review-area {
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  border: 0;
  outline: none;
  width: 100%;
}

.contat-form__text-review-area::placeholder {
  color: #000000;
  font-weight: 700;
}

.contat-form__text-review-area:hover {
  background-color: #e5e5e5;
}

.contat-form__text-review-area:active,
.contat-form__text-review-area:focus {
  background-color: #ffffff;
  box-shadow: inset 2px 2px 0 #e5e5e5, inset -2px -2px 0 #e5e5e5;
}

.contact-form__submit-group {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.contact-form__submit {
  border: 0;
  font-size: 21px;
  line-height: 26px;
}

.contact-form__submit-desc {
  display: none;
}

@media (min-width: $tablet-width) {
  .contact-form__container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contat-form__item {
    border: 0;
  }

  .contact-form__impression {
    order: -1;
    width: 50%;
  }

  .contat-form__name {
    order: 2;
    width: 50%;
  }

  .contact-form__phone {
    order: 3;
    width: 100%;
  }

  .contact-form__sightseeing {
    order: 4;
    width: 100%;
  }

  .contact-form__label--checkbox {
    width: 250px;
  }

  .contat-form__text-review {
    order: 5;
    width: 100%;
    border: 0;
  }

  .contact-form__sightseeing-wrapper {
    width: 520px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-form__submit-group {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .contact-form__submit {
    width: 324px;
  }

  .contact-form__submit-star {
    vertical-align: top;
  }

  .contact-form__submit-desc {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
  }

  .contact-form__fieldset--line::before,
  .contact-form__sightseeing--line::before,
  .text-review::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    position: absolute;
    left: 0;
    top: 10px;
  }

  .contat-form__text-review::before {
    top: 35px;
  }

  .contact-form__impression .contact-form__fieldset {
    border-right: 1px solid #dbdbdb;
  }
}

@media (min-width: $desktop-width) {
  .contact-form__sightseeing-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form__group--phone {
    flex-direction: row;
    align-items: center;
  }

  .contact-form__phone-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .contact-form__group:not(:last-child) {
    margin-bottom: 20px;
  }

  .contact-form__group.contact-form__group--phone {
    margin-bottom: 0;
  }

  .contact-form__submit {
    width: 480px;
  }

  .contact-form__label--desk {
    display: none;
  }

  .contact-form__sightseeing .contact-form__label {
    margin-right: 0;
  }
}
