.features {
  list-style: none;
  margin: 0;
  background-color: #ffffff;
  padding: 25px 20px 40px 20px;
}

.features__item {
  text-align: left;
  padding-left: 50px;
}

.features__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  padding: 0;
  margin: 0 0 25px 0;
  position: relative;
}

.features__header:after {
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  top: -10px;
  left: -55px;
}

.features__item:nth-of-type(1) .features__header:after {
  background-image: url("../img/icon-house.svg");
  width: 40px;
  height: 40px;
}

.features__item:nth-of-type(2) .features__header:after {
  background-image: url("../img/icon-gift.svg");
  width: 38px;
  height: 45px;
}

.features__item:nth-of-type(3) .features__header:after {
  background-image: url("../img/icon-burger.svg");
  width: 38px;
  height: 35px;
}

.features__text {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  padding: 0;
  margin: 0 0 40px 0;
}

.features__item:last-child .features__text {
  margin: 0;
}

.features__icon {
  fill: #81b3d2;
  width: 37px;
  height: 37px;
}

@media (min-width: $tablet-width) {
  .features {
    display: flex;
    flex-direction: row;
    padding-top: 160px;
    padding-bottom: 65px;
  }

  .features__item {
    width: 33.3333%;
    padding: 0 45px;
    text-align: center;
  }

  .features__text {
    margin: 0;
  }

  .features__header:after {
    top: -100px;
    left: 90px;
  }

  .features__item:nth-of-type(1) .features__header:after {
    width: 75px;
    height: 75px;
  }

  .features__item:nth-of-type(2) .features__header:after {
    width: 38px;
    height: 45px;
  }

  .features__item:nth-of-type(3) .features__header:after {
    width: 38px;
    height: 35px;
  }
}
