.features {
    @extend %list-reset;
    background-color: #fff;
}

.features__header {
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.features__text {
    font-size: 14px;
    line-height: 21px;
    color: #333;
    padding: 0;
    margin: 0;
}