.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
}

.gallery__item {
  padding: 23px 0 21px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

@media (min-width: $tablet-width) {
  .gallery__list {
    width: 648px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery__item {
    border: none;
    padding: 0;
  }

  .gallery__item:first-child {
    width: 100%;
  }

  .gallery__item:not(:first-child) {
    width: 50%;
  }

  .gallery__item-video {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    width: 1200px;
  }

  .gallery__item:not(:first-child) {
    width: 33.3333%;
  }

  .gallery__item-video {
    width: 800px;
  }
}
