.gallery__list {
    @extend %list-reset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: $tablet-width) {
    .gallery__list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
