.info {
  text-align: center;
}

.info__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.info__item {
  overflow: hidden;
}

.info__image {
  width: 100%;
}

.info__item--long {
  background-color: #81b3d2;
}

.info__item--short {
  background-color: #eeeeee;
  padding: 35px 0 35px 0;
}

.info__title {
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 0 0 15px 0;
}

.info__number {
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0 0 25px 0;
  color: #ffffff;
}

.info__text {
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.info__item--long .info__title,
.info__item--long .info__text {
  color: #ffffff;
}

.info__text-wrapper {
  padding: 60px 75px 45px 75px;
}

@media (min-width: $tablet-width) {
  .info__item {
    padding: 0;
  }

  .info__item--long {
    display: flex;
    flex-direction: row;
    height: 256px;
  }

  .info__item:nth-child(3) .info__text-wrapper {
    order: 1;
  }

  .info__text-wrapper {
    padding: 45px 20px 45px 20px;
    width: 33.3333%;
    min-width: 220px;
  }

  .info__picture {
    width: 66.6666%;
    flex: 1 0 0;
  }

  .info__item--short {
    display: flex;
    flex-direction: row;
  }

  .info__item-group {
    width: 33.3333%;
  }
}
