.intro {
  text-align: center;
  background-color: #e3f0f8;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: 104%, cover;
}

.page-index .intro {
  height: 389px;
}

.page-photo .intro,
.page-form .intro {
  height: 159px;
}

.page-index .intro__baner {
  margin-top: 90px;
  width: 282px;
}

.page-photo .intro__baner,
.page-form .intro__baner {
  margin-top: 50px;
}

.photo__icon {
  margin-right: 15px;
  fill: #b2b2b2;
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
  }

  .page-index .intro {
    height: 518px;
  }

  .page-photo .intro,
  .page-form .intro {
    height: 291px;
  }

  .page-index .intro__baner {
    margin-top: 77px;
    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
  }
}
