.intro {
    text-align: center;
}

.page-index .intro {
    background-color: #e3f0f8;
    background-image: url('../img/bg-intro-triangle-mobile.svg'), url('../img/bg-back-mobile@1x.jpg');
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: cover;
    height: 389px;
}

.page-index .intro__baner {
    margin-top: 85px;
}

.page-photo .intro__baner,
.page-form .intro__baner {
    margin-top: 50px;
}

.page-photo .intro,
.page-form .intro {
    background-color: #e3f0f8;
    background: url('../img/bg-back-mobile@1x.jpg') no-repeat center center;
    height: 159px;
}

@media (min-width: $tablet-width) {
    .page-index .intro {
        height: 517px;
        background-image: url('../img/bg-intro-triangle-mobile.svg'), url('../img/bg-back-mobile@1x.jpg');
    }
    .page-photo .intro .page-form .intro {
        height: 291px;
    }
}
