.main-nav {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    order: -1;
}

.main-nav__toggle {
    position: absolute;
    text-indent: -9999px;
    border: none;
    background-color: transparent;
}

.main-nav__list {
    @extend %list-reset;
}

.main-nav__item {
    line-height: 55px;
}

.main-nav__item:not(:first-child) .main-nav__link {
    box-shadow: 0 -1px 0 0 #678fa8, inset 0 1px 0 0 rgba(255,255, 255, 0.2);
}

.main-nav__link {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #81b3d2;
    text-transform: uppercase;
    height: 55px;
}
