.page-info {
  padding: 50px 10% 60px 10%;
  background-color: #ffffff;
}

.page__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  padding: 0;
  margin: 0 0 40px 0;
}

.page__text {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  padding: 0;
  margin: 0;
}
