.page-info {
  padding: 45px 20px 0 20px;
  background-color: #ffffff;
}

.page-info--photo {
  padding: 37px 10px 30px 10px;
}

.page-info__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 25px 0;
}

.page-info__text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  padding: 0;
}

.page-info__text--photo {
  font-size: 14px;
  line-height: 24px;
  width: 280px;
}

.page-info--index {
  padding: 45px 25px 0 25px;
}

@media (min-width: $tablet-width) {
  .page-info__header {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

  .page-info--index {
    padding: 52px 30px 17px 30px;
    margin: 0 0 30px 0;
  }

  .page-info__header--photo {
    margin-bottom: 30px;
  }

  .page-info__header--index {
    width: 500px;
    margin: 0 auto 28px auto;
  }

  .page-info__text--photo {
    width: 440px;
  }

  .page-info--photo {
    padding: 75px 10px 65px 10px;
  }

  .page-info__header--photo {
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .page-info__header {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }


  .page-info--index {
    padding: 50px 27% 19px 27%;
  }

  .page-info__header--index {
    font-size: 21px;
    line-height: 26px;
    width: initial;
  }

  .page-info--photo {
    margin-bottom: 25px;
  }
}
