.photo {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.photo__text-group {
  padding: 20px 0 0 0;
}

.photo__link {
  display: block;
}

.photo__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  margin: 0;
}

.photo__author {
  color: #333333;
  font-style: normal;
}

.photo__image {
  display: block;
}

.photo__image img {
  min-width: 100%;
  height: auto;
  display: block;
}

.photo__author-link {
  text-decoration: none;
  color: #333333;
}

.photo__like {
  font-weight: 800;
  text-decoration: none;
  color: #000000;
}

.photo__icon {
  fill: #a9a9a9;
}

@media (min-width: $tablet-width) {
  .photo__text-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 20px 20px;
    background-color: #f2f2f2;
    min-height: 80px;
    position: absolute;
    width: 100%;
    bottom: 34px;
  }

  .photo__text-group--active {
    background-color: #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .photo__text-group {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    color: #ffffff;
    bottom: 88px;
  }

  .photo__author,
  .photo__like,
  .photo__author-link {
    color: #ffffff;
  }

  .photo__icon {
    fill: #ffffff;
  }
}
