.photo {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

.photo__title {
    font-weight: 800;
}

.photo__author {
   color: #333; 
   font-style: normal;
}

.photo__author-link {
    text-decoration: none;
    color: #333;
}

.photo__like {
    font-weight: 800;
    text-decoration: none;
    color: #000;
}