.social__list {
    @extend %list-reset;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.social__link {
    text-indent: -9999px;
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social__item:not(:last-of-type) .social__link {
    margin-right: 5px;
}
