.video {
  margin: 0 auto;
  width: 320px;
  padding: 25px 0 0 0;
}

.video__control {
  display: flex;
  padding: 20px 10px;
  position: relative;
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;
}

.video__title {
  margin: 0 0 28px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.video__text {
  margin: 0 auto 40px auto;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  width: 260px;
}

.video__player {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.video__timeline {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -45px;
  left: 0;
}

.video__timeline::before {
  content: "";
  width: 235px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.video__timeline::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.video__replay {
  margin-right: auto;
}

.video__sub {
  margin-right: 25px;
}

.video__control-icon {
  fill: #5c6870;
  cursor: pointer;
}

.video__control-icon:hover {
  fill: #333333;
}

.video__control-icon:active {
  fill: #b8b8b8;
}

.video__button {
  border: 0;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .video {
    width: 648px;
    padding: 60px 0 0 0;
  }

  .video__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }

  .video__text {
    margin: 0 auto 80px auto;
    width: 420px;
  }

  .video__player {
    width: 648px;
    bottom: 0;
    height: inherit;
  }

  .video__timeline {
    position: static;
    width: 390px;
    margin-right: auto;
    background-color: transparent;
  }

  .video__timeline::before {
    width: 390px;
  }

  .video__control {
    width: 648px;
    padding: 26px 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__control-icon {
    fill: #ffffff;
  }

  .video__control-icon:hover {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video__control-icon:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding: 70px 0 0 0;
  }

  .video__player {
    width: 800px;
    margin: 0 auto;
  }

  .video__control {
    width: 800px;
  }

  .video__timeline {
    width: 540px;
    margin-right: auto;
    margin-left: auto;
  }

  .video__timeline::before {
    content: "";
    width: 540px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateX(-50%);
  }
}
