.video {
  margin: 0 auto;
  width: 320px;
  padding: 40px 0 0 0;
}

.video__control {
  display: flex;
  padding: 23px 25px;
  position: relative;
  background-color: #f2f2f2;
}

.video__title {
  margin: 0 0 35px 0;
}

.video__text {
  margin: 0 0 40px 0;
}

.video__player {
  width: 280px;
  margin: 0 auto;
  position: relative;
}

.video__timeline {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -45px;
  left: 0;
}

.video__timeline::before {
  content: "";
  width: 235px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.video__timeline::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.video__replay {
  margin-right: auto;
}

.video__sub {
  margin-right: 25px;
}

.video__control-icon {
  fill: #5c6870;
  cursor: pointer;
}

.video__control-icon:hover {
  fill: #333333;
}

.video__control-icon:active {
  fill: #b8b8b8;
}

@media (min-width: $tablet-width) {
  .video {
    width: 648px;
  }

  .video__text {
    margin: 0 auto 80px auto;
    max-width: 450px;
  }

  .video__player {
    width: 648px;
    bottom: 0;
    height: inherit;
  }

  .video__timeline {
    position: static;
    width: 390px;
    margin-right: auto;
    background-color: transparent;
  }

  .video__timeline::before {
    width: 390px;
  }

  .video__control {
    width: 648px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__control-icon {
    fill: #ffffff;
  }

  .video__control-icon:hover {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video__control-icon:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .video__timeline {
    width: 500px;
  }
}
