.contact-us {
  background-color: #ffffff;
  padding: 30px 30px 50px 30px;
}

.contact-us__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact-us__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 30px 0;
}

.contact-us__text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0 0 40px 0;
}

.contact-us__link {
  text-decoration: none;
  display: block;
  padding: 17px 50px;
}

@media (min-width: $tablet-width) {
  .contact-us__wrapper {
    width: 460px;
  }
}
